@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color:white;
  background: linear-gradient(to right, rgb(0,56,43),rgb(0,76,63));
  display: flex;
  align-items: center;
  justify-content: center;

}
